body{
	background-color: #ADD8E6
	font-family: 'Outfit', sans-serif;
}
h1, h2, h3 {
	background-color: #ffcccb;
	border: 1px solid #ff6666;
	border-radius: 10px;
	padding: 10px;
}
section {
	background-color: #4470B3;
	border: 1px solid #6699ff;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}
