body{
	background-color: #ADD8E6;
	font-family: 'Outfit', sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	background-color: #ffcccb;
	display: inline-block;
	border: 1px solid #ff6666;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 5px;
}
section {
	background-color: #4470B3;
	display: inline-block;
	border: 1px solid #6699ff;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}
nav{
	background-color: #ADD8E6;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	margin: 0 10px;
}
nav a {
	text-decoration: none;
	color: #4470B3;
	padding: 5px 10px;
	border: 1px solid #333;
	border-radius: 10px;
	transition: background-color 0.3s;
	display: inline-block;
}
nav a:hover {
	background-color: #ffcccb;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color:#fff
}